doctype html
html
  head
    title MoStUi
  body
    div#addStat
      form
        table(border="0")
          tr
            td(align="left") Host:
            td
              input(name="host", value="localhost")
          tr
            td(align="left") Port:
            td
              input(name="port", value="27017")
          tr
            td
            td
              input(type="submit" value="Add to statistics")
    div#charts
    
  
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/dataTables.css')
  script(type='text/javascript', src="/js/jquery/jquery-2.1.3.min.js")
  script(type='text/javascript', src="/js/jquery/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/highchart/highcharts.js")
  script(type='text/javascript', src="/js/highchart/exporting.js")
  script(type='text/javascript', src="/js/highchart/theme.js")
  script.
    $(function () {

      charts = new Array();
      
      // We excpect to have a cookie like
      // urls=j:{"url":[{"host":"10.12.45.17","port":"27017"}]}
      var cookies = document.cookie.split('=');
      
      if(cookies && cookies.length == 2) {
        cookies = decodeURIComponent(cookies[1]).split(':');
        // Skip the key of the array
        cookies.shift();
        // And join the rest again
        cookies = cookies.join(':');
        // Parse the rest into JSON-object
        cookies = JSON.parse(cookies);
        // Load the Chart for each URL
        for(var i=0; i<cookies.url.length; i++) {
          var url = cookies.url[i];
          charts.push(loadChart(url.host, url.port));
        }
      }
      
      $( "#addStat" ).submit(function( event ) {
        charts.push(loadChart($('input[name=host]').val(), $('input[name=port]').val()));
        event.preventDefault();
      });
      
      $( ".closeChart" ).click(function(event) {
        event.preventDefault();
        
        var chartId = event.toElement.parentElement.parentElement.id;
        
        charts = charts.filter(function(chart) {
        	if(chart.id === chartId) {
        	  clearInterval(chart.currentOpIntervalId);
        	  clearInterval(chart.mongoStatIntervalId);
        	  return false;
        	}
        	return true;
        });

        $("#"+chartId).remove();
        chartId = chartId.split('-');
        host = chartId[0] + '.' + chartId[1] + '.' + chartId[2] + '.';
        port = chartId[3].split('_');
        host += port[0];
        port = port[1];
        $.getJSON("remove/" + host + "/" + port, function(res) {
          console.log(decodeURIComponent(document.cookie.split('=')[1]));
        });

      });
    });
  script(type='text/javascript', src="/js/loadCharts.js")