body {
	background-color: #727272;
	color: #efefef;
	font-family: 'Source Sans Pro', sans-serif;
}

#addStat {
	margin: 20px;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}

.container>div>p {
	width: 130px;
	margin: 0px;
	display: inline-block;
}

.container a.closeChart {
	color: #efefef;
	float: right;
	text-align: right;
	text-decoration: none;
}

.statistics {
	display: -webkit-flex;
	display: flex;
}

.chart {
	height: 220px;
	flex: 1;
}

.currentOps {
	width: 25%;
	margin-left: 12px;
	padding: 5px;
	background-color: #fff;
}

.dataTable {
	color: #333;
	font-size: 0.8em;
}